.toolTip{
	color:red;
}

.ui-tooltip{

	min-width:410px;


}

.ui-tooltip-content{


	padding: 5px;
	color: black;
	background-color: white;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #E22228;
	border-bottom: 10px solid transparent;
	display: inline-block;
	float:left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: .5%;
	margin-right: 1%;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #368F2C;
	float:left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: .5%;
	margin-right: 1%;
}


#jumbotron{

	padding-bottom: 8px;
	padding-left: 4%;
	padding-right: 4%;

}

@media (min-width: 434px) {
	h1, h2, h3, h4, h5{
		/*text-align: left;*/
	}
}


.b-red {

	border-style: solid;
	border-color: red;
	text-align: center;
}

.b-black{

	border-style: solid;
	border-color: black;

}

.textDiv {
	width: 90%;
	font-size: 110%;
	text-align: left;

}