h1, h2, h3, h4, h5{
	text-align: center;
}

#jumbotron{

	padding-bottom: 8px;
	padding-left: 4%;
	padding-right: 4%;

}

@media (min-width: 434px) {
	h1, h2, h3, h4, h5{
		text-align: left;
	}
}


.b-red {

	border-style: solid;
	border-color: red;
	text-align: center;
}

.b-black{

	border-style: solid;
	border-color: black;

}

.textDiv {
	width: 90%;
	font-size: 110%;
	text-align: left;

}